body{
   box-sizing: border-box; 
   margin: 0;
   padding: 0;
   font-family: 'Lato', sans-serif;
}

/* top banner styles */
header{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 50px;
}
.top-container{
   background-color: rgb(8, 0, 0);
   width: 90%;
   height: 70vh;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 30px;
}
.banner-left{
   width: 50%;
   padding-right: 100px;
}
.banner-heading{
   font-size: 70px;
   font-weight: 700;
   color: #af561a;
   padding-right: 100px;
} 
.banner-text{
   font-size: 20px;
   font-weight: 400;
   color: #FFFFFF;
   padding-right: 60px;
   padding-bottom: 20px;
}
.banner-btn{
   height: 60px;
   width: 190px;
   font-size: 20px;
   background-color: #af561a;
   border-radius: 10px;
   outline: none;
   border: none;
   color: antiquewhite;
   box-shadow: 0 10px rgba(128, 128, 128, 0.671);
   cursor: pointer;
}
.banner-btn:hover{
   background-color: #bd7444;
}
.banner-btn:active{
   background-color: #bd7444;
   box-shadow: 0 5px rgb(207, 204, 204);
   transform: translate(5px);
}
.banner-right img{
   width: 100%;
   height: 70vh;
}

/* main content style */

/* side nav bar styles */
.middle-container{
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   margin: 80px 0;
}
.side-nav{
   height: 300px;
   width: 300px;
   background-color: black;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border-radius: 10px;
   margin-top: 20px;
}
.nav-btn{
   padding: 15px 45px;
   margin: 15px;
   border-radius: 20px;
}
.nav-btn a{
   text-decoration: none;
   font-weight: 800;
   color: black;
   font-size: 16px;
}
.selected {
   background-color: #af561a;
}
.selected a{
   color: antiquewhite;
}

/* blogs styles */
.blogs{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
}
.blog{
   height: 242px;
   width: 312px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border: 1px solid gainsboro;
   border-radius: 10px;
   margin: 20px 50px;
}
.thumbnail{
   display: flex;
   justify-content: center;
   align-items: center;
}
.thumbnail p{
   font-weight: 900;
   font-size: 20px;
   margin: 0 20px;
}

/* view button */
#responsive-btn {
   text-align: center;
   margin-bottom: 50px;
}
.view-btn {
   width: 100px;
   height: 50px;
   border: none;
   background-color: #af561a;
   font-size: 15px;
   font-weight: 900;
   border-radius: 15px;
}

.view-btn a {
   text-decoration: none;
   color: antiquewhite;
}


/* footer section styles */
footer{
   height: 50vh;
   background-color: black;
   color: #FFFFFF;
   display: flex;
   justify-content: center;
   align-items: center;
}
.footer-section{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.footer-title h2{
   font-size: 40px;
   font-weight: 600;
   color: #af561a;
}
.footer-section hr{
   width: 1320px;
   margin: 50px;
}
.footer-links a{
   text-decoration: none;
   color: aliceblue;
   margin: 0px 30px;
}
.social-links{
   margin: 40px;
   font-size: 50px;
}
.social-links .fa-brands{
   color: aqua;
   padding: 30px;
}

/* MEDIA QUERY */

/* mobile view */
@media only screen and (max-width:688px) {
   header {
         margin-top: 10px;
         display: flex;
         justify-content: center;
         align-items: center;
      }
   
      .top-container {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         width: 80%;
         height: 70vh;
      }
   
      .banner-left {
         display: flex;
         flex-direction: column;
         justify-content: center;
         height: 60vh;
         padding: 0 60px;
      }
   
      .banner-heading {
         font-size: 30px;
         margin: 10px;
         text-align: center;
         width: 100%;
      }
   
      .banner-text {
         text-align: center;
         width: 100%;
         font-size: 20px;
         height: 50px;
         overflow: hidden;
         text-overflow: ellipsis;
      }
      .watch-btn {
         text-align: center;
      }
      .banner-btn {
         text-align: center;
         height: 30px;
         width: 80px;
         font-size: 10px;
         box-shadow: 0 5px rgba(128, 128, 128, 0.671);
      }
   
      .banner-right {
         height: 50vh;
      }
   
      .banner-right img {
         width: 200px;
         height: 220px;
         padding-top: 10px;
         position: relative;
         bottom: -2%;
      }
   
      .middle-container {
         display: flex;
         flex-direction: column;
         align-items: center;
      }
   
      .side-nav {
         margin: 0;
         background-color: white;
         border: none;
         position: relative;
         top: -10px;
         right: 15px;
         height: 100px;
         width: 200px;
         margin: 10px 0;
      }
   
      .nav-btn {
         padding: 10px 15px;
         margin: 5px;
      }
   
      .blogs {
         display: grid;
         grid-template-columns: repeat(1, 1fr);
      }
   
      #hidden {
         display: none;
      }
      #responsive-btn {
         display: none;
      }
      .footer-title h2 {
         font-size: 30px;
         margin: 0;
      }
   
      .footer-section hr {
         width: 280px;
         margin: 15px;
      }
   
      .footer-links {
         display: flex;
         flex-direction: column;
         align-items: center;
      }
   
      .footer-links a {
         margin: 5px 0;
      }
   
      .social-links {
         margin: 0 10px;
         font-size: 20px;
      }
   }

/* tab view */
@media only screen and (min-width:689px) and (max-width:992px) {
   .top-container {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .banner-left {
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 100px;
      font-size: 5px;
   }

   .banner-heading {
      margin: 10px 0;
      padding: 0px;
   }

   .banner-text {
      height: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
   }

   .banner-right {
      width: 100%;
      height: 70vh;
   }

   .banner-right {
      padding: 50px 25px;
   }

   .middle-container {
      margin: 20px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .side-nav {
      width: 90%;
      height: 5vh;
      display: flex;
      flex-direction: row;
      justify-content: center;
      background-color: white;
   }

   .blogs {
      grid-template-columns: repeat(2, 1fr);
   }

   #hidden {
      display: none;
   }

   .footer-section {
      width: 100%;
   }

   .footer-section hr {
      width: 700px;
      margin: 30px;
   }

   .footer-links {
      text-align: center;
   }

   .footer-links a {
      margin: 0 20px;
   }
}

/* monitor view */
@media only screen and (min-width:993px) {
   #responsive-btn {
      display: none;
   }

}